---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { number, title, date, time, tags } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {title} </title>
</head>
    <body>
        <article>
            <header>
                <p>Paper {number}</p>
                <h1>{title}</h1>
                <strong>{date}</strong> | {time} min read
                <div class="tagElement">
                    <img style="margin-right: 10px"  src="/tag.svg" alt="Tag Icon in black and white" />
                    <p class="tagElementColor"> {tags.join(", ")}</p>
                </div>

            </header>
            <main>
                <slot/>
            </main>
        </article>
    </body>
<Footer />
</html>
